Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
WTForms
Werkzeug
alembic
coverage
email-validator
flake8
flask
flask-marshmallow
flask-restx
gunicorn
marshmallow-SQLAlchemy
psycopg2
python-dotenv
sqlalchemy
stestr
lintly
codecov
