{% extends 'base.html' %}
{% block content %}
<!-- <script>
    function onSubmit() {
    var content= $('#content').val();
    var priority= $('#priority').val();
    var description= $('#description').val();
    var start_time= $('#start_time').val();
    var end_time= $('#end_time').val();
    $.ajax({
				  url: "/task/create",
				  type: "POST",
				  data: {'content':content,'priority':priority,'description':description,'start_time':start_time,'end_time':end_time}
            }).done(function(data){
                $('#res').append(JSON.stringify(data));
            });
    }
</script> -->
<script>
    function validateForm() {
        var x = document.forms["createTask-form"]["priority"].value;
        if (isNaN(x)) {
            alert("Priority should be an integer");
            return false;
        }
    }
</script>

<div style="height: 100vh">
    <div class="flex-center flex-column aqua-gradient color-block">
        <!-- <h1 style="text-align: center">Create Task</h1> -->
        <div class="form" style="justify-content:center; display: flex;">
            <form class="text-center border border-light p-4 mb-2 white color-block" name="createTask-form"
                action="" method="POST">
                <p class="h3 mb-2">Create Task</p>
                {{ form.hidden_tag() }}
                <label for="content">Title:</label>
                {% for error in form.title.errors %}
                    <span style="color: #ff0000;">{{ error }}</span>
                {% endfor %}
                <input class="form-control mb-2" type="text" name="title" id="title"
                       placeholder="Title">
                <label for="priority">Priority:</label><br>
                <input type="radio" name="priority"
                       id="1" value=1> <label for="1">1</label>
                <input type="radio" name="priority"
                       id="2" value=2> <label for="2">2</label>
                <input type="radio" name="priority"
                           id="3" value=3> <label for="3">3</label>
                <input type="radio" name="priority"
                       id="4" value=4> <label for="4">4</label>
                <input type="radio" name="priority"
                       id="5" value=4> <label for="5">5</label><br>
                {% for error in form.description.errors %}
                    <span style="color: #ff0000;">{{ error }}</span>
                {% endfor %}
                <label for="description">Description:</label>
                <input class="form-control mb-2" type="text" name="description"
                       id="description" placeholder="a short description">
                <label for="start_time">Start Time:</label>
                {% for error in form.start_date.errors %}
                    <span style="color: #ff0000;">{{ error }}</span>
                {% endfor %}
                <input class="form-control mb-2" type="date" name="start_date" id="start_date">
                {% for error in form.start_time.errors %}
                    <span style="color: #ff0000;">{{ error }}</span>
                {% endfor %}
                <input class="form-control mb-2" type="time" name="start_time" id="start_time">
                <label for="end_time">End Time:</label>
                {% for error in form.end_date.errors %}
                    <span style="color: #ff0000;">{{ error }}</span>
                {% endfor %}
                    <input class="form-control mb-2" type="date" name="end_date" id="end_date">
                {% for error in form.end_time.errors %}
                    <span style="color: #ff0000;">{{ error }}</span>
                {% endfor %}
                <input class="form-control mb-2" type="time" name="end_time" id="end_time">
                <input type="submit" value="Add Task">
            </form>
        </div>
    </div>
</div>


{% endblock %}