<!-- DONT TOUCH-->

{% extends "base.html" %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
	function getString(){
		items = document.getElementsByClassName("deleting");
		if(items.length > 0){
			str = "";
			for(var i = 0; i < items.length; i++){
				if(items[i].checked){
					str = str + items[i].value + ",";
				}
			}
			str = str.slice(0,-1);
			location.href='/task/delete/'+str;
		}
		//return str
	}
</script>
{% endblock %}

{% block content %}
<!-- <body> -->
    <!-- <h1>Hi, {{ current_user.username }}!</h1> -->
<!--<div style="height: 100vh">-->
    
<div class="white color-block p-4 shadow-lg border" style="width: 60vw">
<h1 style="text-align: center" class="font-weight-bold" >To Do:</h1>
<h4 style="text-align: center" class="noTask"></h4>
<div id="tableBody1"></div>
<br>
<h5 style="text-align: center" >
	<button style="text-align: center" onclick = "getString();">Remove Selected</button>  <!--Doesnt do anything yet-->
	<a href="/task/create"><button style="text-align: center" >Create Task</button></a> 
</h5>

<script>
    $.getJSON('/task/', function (data) {
        var countKey = Object.keys(data.task).length;
        if (countKey < 1) {
            var text = `There are no tasks. Create one below!`
            $(".noTask").html(text);
        }
        else {
            var tableBody = '<table width="90%" cellpadding="2" align="center" style="font-size:12px;border-collapse:collapse;" border="1"><tr style="font-weight:bold;background:grey;"><td style="color:white;padding:15px;">Select</td><td style="color:white;padding:15px;">Task Name</td><td style="color:white;padding:15px;">Priority</td><td style="color:white;padding:15px;">Description</td><td style="color:white;padding:15px;">Start Time</td><td style="color:white;padding:15px;">End Time</td><td style="color:white;padding:15px;">Actions</td></tr>';
            
            data.task.forEach(function (d) {
            	if(!d.priority){d.priority = "";}
            	if(!d.start_time){d.start_time = "";}
            	if(!d.end_time){d.end_time = "";}

            	d.start_time = d.start_time.replace("T"," ");
            	d.end_time = d.end_time.replace("T"," ");
                tableBody += '<tr align="center"><td> <input type="checkbox" class = "deleting" value="' + d.id + '"></td><td>' + d.title + '</td><td>' + d.priority + '</td><td>' + d.description + '</td><td>' + d.start_time + '</td><td>' + d.end_time  + '</td><td>' + '<a href="/task/delete/'+d.id +' ">Delete</a> <br><a href="/task/update/'+d.id +' ">Update</a>' + '</td></tr>';
            });
            tableBody += '<table>';

            var divContainer = document.getElementById("tableBody1");
            divContainer.innerHTML = tableBody;

        }
    });
</script>
</div>
	<!--</div>-->
<!--</div>-->
<!--</body>-->
{% endblock %}