 {% extends "base.html" %}

{% block content %}
  <div style="height:auto">
    <div class="flex-center flex-column">
      <form class="text-center border border-light p-5" action="" method="post" novalidate>

        <p class="h4 mb-4">Sign in</p>
        {{ form.hidden_tag() }}
        <!-- Username -->
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <input type="username" id="username" name="username" required size="32" class="form-control mb-4" placeholder="Username">


        <!-- Password -->
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <input type="password" id="password" name="password" required size="32" class="form-control mb-4" placeholder="Password">

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="remember_me" name="remember_me">
              <label class="custom-control-label" for="remember_me">Remember me</label>
            </div>
          </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" id="submit" name="submit" type="submit">Submit</button>

        <!-- Register -->
        <p>Not a member?
          <a href="{{ url_for('register') }}">Register!</a>
        </p>

      </form>
      <!-- Default form login -->
    </div>
  </div>
 
  <!-- jQuery -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
{% endblock %}
