{% extends 'base.html' %}

{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block content %}
<script>
  function validateForm() {
    var x = document.forms["updateTask-form"]["priority"].value;
    if (isNaN(x)) {
      alert("Priority should be an integer");
      return false;
    }
  }
</script>
  <div style="height: 100vh">
    <div class="flex-center flex-column aqua-gradient color-block">
      <form class="text-center border border-light p-4 mb-2 white color-block" name="updateTask-form" action="/task/update/{{task.id}}"
        onsubmit="return validateForm()" method="POST">
        <p class="h3 mb-2">Update Task</p>
        <label  for="content">Title:</label>
        <input class="form-control mb-2" type="text" name="content" id="content" value="{{task.title}}" required>
        <label for="priority">Priority:</label>
        <input class="form-control mb-2" type="text" name="priority" id="priority" value="{{task.priority}}">
        <label for="description">Description:</label>
        <input class="form-control mb-2" type="text" name="description" id="description" value="{{task.description}}">
        <label for="start_time">Start Time:</label>
        <input class="form-control mb-2" type="datetime-local" name="start_time" id="start_time" value="{{task.start_time}}">
        <label for="end_time">End Time:</label>
        <input class="form-control mb-2" type="datetime-local" name="end_time" id="end_time" value="{{task.end_time}}">
        <input type="submit" value="Update">
      </form>
    </div>
  </div>

{% endblock %}