{% extends 'base.html' %}

{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block content %}
<script>
    function validateForm() {
      var x = document.forms["updateTask-form"]["priority"].value;
      if (isNaN(x)) {
        alert("Priority should be an integer");
        return false;
      }
    }
</script>
<div class="content">
    <h1 style="text-align: center">Update Task</h1>

    <div class="form">
        <form name="updateTask-form" action="/task/update/{{task.id}}" onsubmit="return validateForm()" method="POST">
            <label for="content">Title:</label><br>
            <input type="text" name="content" id="content" value="{{task.title}}" required><br>
            <label for="priority">Priority:</label><br>
            <input type="text" name="priority" id="priority" value="{{task.priority}}"><br>
            <label for="description">Description:</label><br>
            <input type="text" name="description" id="description" value="{{task.description}}"><br>
            <label for="start_time">Start Time:</label><br>
            <input type="datetime-local" name="start_time" id="start_time" value="{{task.start_time}}"><br>
            <label for="end_time">End Time:</label><br>
            <input type="datetime-local" name="end_time" id="end_time" value="{{task.end_time}}"><br>
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}